
.item {
  display: flex;
  background-color: var(--color-background-btmsht);
  padding: var(--padding-size-xs) var(--padding-size-default);
  border-radius: var(--radius-size-sm);
  margin-bottom: 12px;
}

.item_info_name {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-inverse-wh);
  column-gap: var(--content-gap-3xs);
}

.item_info_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.item_info_amount {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}

.item_info_amount.withdraw {
  color: var(--color-font-warning);
}

.item_info_amount.deposit {
  color: var(--color-font-primary);
}

.item_info_date {
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-teritary);
}