.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-brand);
  border-radius: var(--radius-size-lg);
  border: 5px solid var(--color-border-brand);
  padding: var(--padding-size-lg) var(--padding-size-sm) var(--padding-size-xl) var(--padding-size-sm);
  overflow: hidden;
  row-gap: var(--content-gap-lg);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--color-font-inverse-wh);
}

.content {
  background-color: var(--color-background-teritary);
  padding: var(--padding-size-default) var(--padding-size-default) var(--padding-size-lg) var(--padding-size-default);
  border-radius: var(--radius-size-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--content-gap-xl);
  overflow-y: auto;
  overflow-x: hidden;
}

.open_button_box {
  display: flex;
  width: 100%;
}

.open_button {
  flex: 1;
  z-index: 1;
  height: 32px;
  display: flex;
  column-gap: var(--content-gap-2xs);
  justify-content: center;
  align-items: center;
}

.open_button_text {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-inverse-wh);
}

.free_box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.free_box_icon {
  z-index: 1;
}

.free_box_back_icon {
  position: absolute;
}