
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin_animation {
  animation: spin 15s linear infinite;
  transform-origin: center; /* 중심을 기준으로 회전 */
}