.modal {
  max-width: var(--screen-max-width);
  margin: auto;
  
}

.modal_content {
  background-color: var(--color-background-btmsht);
  padding-top: var(--padding-size-xl);
  padding-left: var(--padding-size-lg);
  padding-right: var(--padding-size-lg);
  padding-bottom: var(--padding-size-lg);
}

.close_btn_box {
  width: 100%;
  display: flex;
  padding: var(--padding-size-default) 0;
}

.button_class {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-inverse-wh);
  background-color: var(--color-button-background-primary);
  margin: 0;
  padding: 0;
  /* min-width: 36px; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 12px;
  height: 36px;
  border-radius: var(--radius-size-2xs);
}

.bottom_shadow {
  z-index: 2;
  box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.2); /* 아래쪽에만 그림자 */
  transition: box-shadow 0.3s ease; /* 부드러운 전환 효과 */
}

